{:paths ["src/clj" "src/cljs" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        no.cjohansen/replicant {:mvn/version "0.2024.10.07"}}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        thheller/shadow-cljs {:mvn/version "2.28.16"}}

 :aliases
 {
  ; Runs the server in dev mode
  :run {:main-opts ["-m" "chickensoft.star-battle" "dev"]}

  ; Runs the server in production mode, compiling CLJS first
  :nextjournal/garden {:exec-fn chickensoft.star-battle/-main}

  ; Some extra functions in the user namespace, shadow niceties for the REPL
  :dev {:extra-paths ["dev/clj"]}

  ; Starts shadow-cljs CLI, to start a server for compiles and REPLs: clj -M:shadow server
  :shadow {:main-opts ["-m" "shadow.cljs.devtools.cli"]}

  ; Run Clojure tests
  :test {:extra-paths ["test/clj"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :main-opts ["-m" "kaocha.runner"]}

  ; Run ClojureScript tests
  :test-cljs {:extra-paths ["src/cljs" "test/cljs"]
              :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                           lambdaisland/kaocha-cljs {:mvn/version "1.5.154"}
                           lambdaisland/chui {:mvn/version "1.2.205"}
                           lambdaisland/funnel {:mvn/version "1.4.71"}}}}}
