:root {
    --bg-color-1: black;
    --bg-color-2: #112;
    --border-color-1: #224;
    --border-color-2: #300;
    --text-color-1: white;
    --text-color-2: #ffd;
    --region-color-1: #632;
    --region-color-2: #360;
    --region-color-3: #236;
    --region-color-4: #662;
    --region-color-5: #255;
    --region-color-6: #525;
    --region-color-7: #368;
    --region-color-8: #883;
    --region-color-9: #377;
    --region-color-10: #836;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: auto;
}

html {
    font-size: 12pt;
    background-color: var(--bg-color-1);
    width: 100vw;
    height: 100vh;
    overflow: clip;
}

#canvas {
    width: 80cqmax;
    height: 80cqmax;
}

h1 {
    text-align: center;
    color: var(--text-color-1);
    margin: 1em auto;
}

.game {
    padding: 10px;
    aspect-ratio: 1 / 1;
}

.grid {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--border-color-2);
    border: 4px solid var(--border-color-2);
    border-radius: 8px;
}

.grid-5x5 {
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}

.grid-6x6 {
    grid-template: repeat(6, 1fr) / repeat(6, 1fr);
}

.grid-7x7 {
    grid-template: repeat(7, 1fr) / repeat(7, 1fr);
}

.grid-8x8 {
    grid-template: repeat(8, 1fr) / repeat(8, 1fr);
}

.grid-9x9 {
    grid-template: repeat(9, 1fr) / repeat(9, 1fr);
}

.grid-10x10 {
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.grid > .row {
    display: contents;
}

.cell {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color-2);
    width: 100%;
    height: 100%;
}

.region-1 {
    --bg-color: var(--region-color-1);
}

.region-2 {
    --bg-color: var(--region-color-2);
}

.region-3 {
    --bg-color: var(--region-color-3);
}

.region-4 {
    --bg-color: var(--region-color-4);
}

.region-5 {
    --bg-color: var(--region-color-5);
}

.region-6 {
    --bg-color: var(--region-color-6);
}

.region-7 {
    --bg-color: var(--region-color-7);
}

.region-8 {
    --bg-color: var(--region-color-8);
}

.region-9 {
    --bg-color: var(--region-color-9);
}

.region-10 {
    --bg-color: var(--region-color-10);
}

.other-region-left {
    border-left-width: 2px;
}

.other-region-right {
    border-right-width: 2px;
}

.other-region-top {
    border-top-width: 2px;
}

.other-region-bottom {
    border-bottom-width: 2px;
}

.other-region-left.other-region-top {
    border-top-left-radius: 15%;
}

.other-region-left.other-region-bottom {
    border-bottom-left-radius: 15%;
}

.other-region-right.other-region-top {
    border-top-right-radius: 15%;
}

.other-region-right.other-region-bottom {
    border-bottom-right-radius: 15%;
}

.other-region-top-left:not(.other-region-left):not(.other-region-top) {
    border-top-left-radius: 3px;
}

.other-region-top-right:not(.other-region-right):not(.other-region-top) {
    border-top-right-radius: 3px;
}

.other-region-bottom-left:not(.other-region-left):not(.other-region-bottom) {
    border-bottom-left-radius: 3px;
}

.other-region-bottom-right:not(.other-region-right):not(.other-region-bottom) {
    border-bottom-right-radius: 3px;
}

.marked {
    background-color: color-mix(in srgb, var(--bg-color), black);
}

@media (orientation: landscape) {
    h1 {
        margin: 0.5em auto;
    }
    .game {
        height: 80dvh;
    }
}

@media (orientation: portrait) {
    .game {
        width: 80dvw;
    }
}

@media  (prefers-color-scheme: light) {
    :root {
        --bg-color-1: #fed;
        --bg-color-2: #ffd;
        --border-color-1: #633;
        --border-color-2: #213;
        --text-color-1: black;
        --text-color-2: #112;
        --region-color-1: #632;
        --region-color-2: #360;
        --region-color-3: #236;
        --region-color-4: #662;
        --region-color-5: #355;
        --region-color-6: #525;
    }
}
